.container {
  cursor: pointer;
  transition: border 1s ease-in-out;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.container:hover {
  /* outline: 1px solid #0d253f; */
  border-radius: 0.5rem;
}
.container:hover img {
  scale: 1.1;
}

.image-container {
  border-radius: 0.5rem;
  overflow: hidden;
  height: 80%;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
  transition: scale 0.5s ease-in;
}

h3,
p {
  cursor: inherit;
}
.text {
  padding: 1rem 0;
}

.text h3 {
  text-transform: capitalize;
}
